<div class="card mb-4">
    <div class="card-header">
        <h1>품절관리</h1>
    </div>
    <div class="card-body">
        <form action="/optionStatus" method="GET">
            <div class="row">
                <div class="col-2 ms-2">
                    <select class="form-select" name="type">
                        <option value="proId">상품코드</option>
                        <option value="barcode">바코드</option>
                        <option value="curCon">수량</option>
                    </select>
                </div>

                <div class="col-2">
                    <input type="text" class="form-control" name="search">
                </div>

                <div class="col-2">
                    <button type="submit" class="btn btn-primary">검색</button>
                </div>
                
                <div class="col-3">
                    
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-danger" id="delete_button">
                        삭제
                    </button>
                </div>
            </div>
        </form>

        <div style="width:100%; height:600px; overflow:auto;" id="table-container" class="m-2">
            <table id="datatablesSimple" width="1500px;" style="overflow-y:scroll;">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkAll"></th>
                        <th>id</th>
                        <th>상품아이디</th>
                        <th>바코드</th>
                        <th>옵션1</th>
                        <th>옵션2</th>
                        <th>가격</th>
                        <th>배송가격</th>
                        <th>수량</th>
                    </tr>
                </thead>

                <tbody id="tbody_ele">
                    <% @data.each_with_index do |i,index| %>
                        <tr>
                            <td><input type="checkbox" class="rowCheckbox"></td>
                            <td><%= i[0] %></td>
                            <td contenteditable="true"><%= i[1] %></td>
                            <td contenteditable="true"><%= i[2] %></td>
                            <td contenteditable="true"><%= i[4] %></td>
                            <td contenteditable="true"><%= i[5] %></td>
                            <td contenteditable="true"><%= i[8] %></td>
                            <td contenteditable="true"><%= i[9] %></td>
                            <td contenteditable="true"><%= i[11] %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>            
        </div>
    </div>
</div>

<script>
     $('#checkAll').on('change', function() {
        $('.rowCheckbox').prop('checked', this.checked);
    });
    
    $("#delete_button").click(function(){
        let userResponse = confirm('계속 진행하시겠습니까?');
        
        if (userResponse) {
            var memory = [];
            var trs = $("#tbody_ele").children();
            trs.each(function(index, ele){
                if($(ele).children().eq(0).children().eq(0).prop("checked")){
                 	memory.push($(ele).children().eq(1).text());
                }
            })
            
            console.log(memory);
            
            $.ajax({
                url: '/optionDelete',
                type: 'POST',
                data: {
                    'ids' : memory
                },
                success: function(res){
                	alert("삭제완료");
            	}
            });
        } 
        else {
            
        }
    });
    
    $(".edit_button").click(function(){
        var tds = $(this).parent("td").parent("tr").find("*");
        var id = tds[0].textContent
        $.ajax({
            url: "/optionEditAction",
            type: "POST",
            data: {
                "id" : id,
                "proId" : tds[1].textContent,
                "barcode" : tds[2].textContent,
                "option1" : tds[3].textContent,
                "option2" : tds[4].textContent,
                "price1" : tds[5].textContent,
                "price2" : tds[6].textContent,
                "curCon" : tds[7].textContent
            },
            success: function(res){
                console.log(res)
                alert("수정완료");
            },
            error: function(error){
                console.log(error)
            }
        })
    })
	
</script>